<section class="main">
    <div class="maincontent">
        <div class="maintitle">
            <h1>Thèmes et sous-thèmes</h1>
        </div>
        <div class="bloctables">
            <div class="card">

                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item text-center">
                      <a class="nav-link active btl" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Thèmes</a>
                    </li>
                    <li class="nav-item text-center">
                      <a class="nav-link btr" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Sous-thèmes</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">

                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        <div class="form px-4 pt-5">
                             <!-- Button ajout thm -->
                         <div class="boutajout">
                            <button  type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ajoutplus">
                            <i class="bi bi-plus-square-fill"></i>
                            </button>
                        </div>
                            <table class="table table-bordered" data-toggle="table" data-search="true" data-pagination="true">
                                <table class="table" >
                                    <thead>
                                        <tr>
                                        <th scope="col">No</th>
                                        <th scope="col">Titre du thème</th>
                                        <th scope="col">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr  *ngFor="let alltheme of viewthemeModel"  >
                                        <th scope="row">  {{alltheme.id_thm}}</th>
                                        <td>
                                        {{alltheme.nom_thm}} 
                                        </td>
                                        <td>
                                            <!-- button consulthm -->
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#consulthm">
                                              Consulter
                                          </button>
                                            <!-- Button trigger supprim thm-->
                                            <button   type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#supprim">
                                                <i class="bi bi-trash-fill"></i>
                                            </button>
                                            <!-- button modif thm -->
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modif">
                                                <i class="bi bi-pencil-fill"></i>
                                            </button>
                                            <!-- button ajout sousthm -->
                                            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#ajousouthem">
                                                <i class="bi bi-plus-lg"></i>Sous-thème
                                            </button>
                                            <!-- Modal modif thm-->
                                            <div class="modal fade" id="modif" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Modification du thème</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form (ngSubmit)= " Onmodthm()">
                                                            <label for="titre">Titre :</label><br>
                                                            <input type="text" id="titre"  placeholder="les preservatifs" [(ngModel)]= "ajthm.nom_thm" [ngModelOptions]="{standalone:true}" required maxlength="40" #modtitrethm="ngModel" [ngClass]="
                                                            {'is-invalid':modtitrethm.touched && !modtitrethm.valid}">
                                                             <!-- ----------------alerts----------- -->
                                                            <div *ngIf='modtitrethm.getError("required")'  role="alert" class="invalid-feedback">
                                                                Remplir ce champs!
                                                            </div>
                                                            <br>
                        
                                                            <label for="contenu">contenu :</label><br>
                                                            <textarea name="" id="contenu" placeholder="Il est commun pour ..." required cols="40" rows="15" minlength="50" [(ngModel)]= "ajthm.libelle_thm" [ngModelOptions]="{standalone:true}"  #modlibthm="ngModel" [ngClass]="
                                                            {'is-invalid':modlibthm.touched && !modlibthm.valid}"></textarea>
                                                            <!-- ----------------alerts----------- -->
                                                            <div *ngIf='modlibthm.getError("required")'  role="alert" class="invalid-feedback">
                                                                Remplir ce champs!
                                                            </div>
                                                            <div *ngIf='modlibthm.getError("minlength")'  role="alert" class="warning-feedback">
                                                                ce champs contient au moins 50 caracteres!
                                                            </div>
                                                            <br><br>
                        
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        
                                                            <button disabled
                                                            *ngIf='modtitrethm.getError("required") || modlibthm.getError("minlength") || modlibthm.getError("required")' type="submit" class="btn btn-primary" type="submit" class="btn btn-primary" data-bs-dismiss="modal">Publier</button>
                                                            <button 
                                                            *ngIf='!modtitrethm.getError("required") && !modlibthm.getError("minlength") && !modlibthm.getError("required")' type="submit" class="btn btn-primary" type="submit" class="btn btn-primary" data-bs-dismiss="modal">Publier</button>
                        
                                                        </form>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                            <!-- Modal supprim thm-->
                                            <div class="modal fade" id="supprim" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog verif">
                                                <div class="modal-content ">
                                                    <div class="modal-body">
                                                        <p>Etes-vous sûr de vouloir supprimer ce thème?</p>
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
                                                    <button (click)="deletethm(alltheme.id_thm)" type="button" class="btn btn-success"data-bs-dismiss="modal">Oui</button>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                            <!-- Modal ajout sousthm-->
                                            <div class="modal fade" id="ajousouthem" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Ajout d'un sous-thème</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form (ngSubmit)= " Onajsouthm()">
                                                            <label for="titre">Titre :</label><br>
                                                            <input type="text" id="titre"  placeholder="les preservatifs" [(ngModel)]= "ajsouthm.nom_southm" [ngModelOptions]="{standalone:true}" required maxlength="40" #titresouthm="ngModel" [ngClass]="
                                                            {'is-invalid':titresouthm.touched && !titresouthm.valid}">
                                                             <!-- ----------------alerts----------- -->
                                                            <div *ngIf='titresouthm.getError("required")'  role="alert" class="invalid-feedback">
                                                                Remplir ce champs!
                                                            </div>
                                                            <br>
                        
                                                            <label for="contenu">contenu :</label><br>
                                                            <textarea name="" id="contenu" placeholder="Il est commun pour ..." required cols="40" rows="15" minlength="50" [(ngModel)]= "ajsouthm.libelle_southm" [ngModelOptions]="{standalone:true}"  #libsouthm="ngModel" [ngClass]="
                                                            {'is-invalid':libsouthm.touched && !libsouthm.valid}"></textarea>
                                                            <!-- ----------------alerts----------- -->
                                                            <div *ngIf='libsouthm.getError("required")'  role="alert" class="invalid-feedback">
                                                                Remplir ce champs!
                                                            </div>
                                                            <div *ngIf='libsouthm.getError("minlength")'  role="alert" class="warning-feedback">
                                                                ce champs contient au moins 50 caracteres!
                                                            </div>
                                                            <br><br>
                        
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        
                                                            <button disabled
                                                            *ngIf='titresouthm.getError("required") || libsouthm.getError("minlength") || libsouthm.getError("required")' type="submit" class="btn btn-primary" type="submit" class="btn btn-primary" data-bs-dismiss="modal">Publier</button>
                                                            <button 
                                                            *ngIf='!titresouthm.getError("required") && !libsouthm.getError("minlength") && !libsouthm.getError("required")' type="submit" class="btn btn-primary" type="submit" class="btn btn-primary" data-bs-dismiss="modal">Publier</button>
                        
                                                        </form>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                             <!-- Modal consluthm -->
                                             <div class="modal fade" id="consulthm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                <div class="modal-content" >
                                                    <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">puberte </h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                         {{alltheme.libelle_thm}} 
                                                        
                                                </div>
                                                </div>
                                            </div>
                                            </div>

                                        </td>
                                        </tr>

  
                                            
                                        <!-- <tr>
                                        <th scope="row">3</th>
                                        <td colspan="2">Larry the Bird</td>
                                        <td>@twitter</td>
                                        </tr> -->
                                    </tbody>
                                    </table>
                            </table>

                        </div>
                        <!-- Modal ajout plus -->
                    <div class="modal fade" id="ajoutplus" tabindex="-1"data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Ajout d'un thème</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form (ngSubmit)= " Onajthm()">
                                    <label for="titre">Titre :</label><br>
                                    <input type="text" id="titre"  placeholder="les preservatifs" [(ngModel)]= "ajthm.nom_thm" [ngModelOptions]="{standalone:true}" required maxlength="40" #titrethm="ngModel" [ngClass]="
                                    {'is-invalid':titrethm.touched && !titrethm.valid}">
                                     <!-- ----------------alerts----------- -->
                                    <div *ngIf='titrethm.getError("required")'  role="alert" class="invalid-feedback">
                                        Remplir ce champs!
                                    </div>
                                    <br>

                                    <label for="contenu">contenu :</label><br>
                                    <textarea name="" id="contenu" placeholder="Il est commun pour ..." required cols="40" rows="15" minlength="50" [(ngModel)]= "ajthm.libelle_thm" [ngModelOptions]="{standalone:true}"  #libthm="ngModel" [ngClass]="
                                    {'is-invalid':libthm.touched && !libthm.valid}"></textarea>
                                    <!-- ----------------alerts----------- -->
                                    <div *ngIf='libthm.getError("required")'  role="alert" class="invalid-feedback">
                                        Remplir ce champs!
                                    </div>
                                    <div *ngIf='libthm.getError("minlength")'  role="alert" class="warning-feedback">
                                        ce champs contient au moins 50 caracteres!
                                    </div>
                                    <br><br>

                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>

                                    <button disabled
                                    *ngIf='titrethm.getError("required") || libthm.getError("minlength") || libthm.getError("required")' type="submit" class="btn btn-primary" type="submit" class="btn btn-primary" data-bs-dismiss="modal">Publier</button>
                                    <button 
                                    *ngIf='!titrethm.getError("required") && !libthm.getError("minlength") && !libthm.getError("required")' type="submit" class="btn btn-primary" type="submit" class="btn btn-primary" data-bs-dismiss="modal">Publier</button>

                                </form>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>

                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <div class="form px-4 pt-5">
                                       
                            <table class="table table-bordered" data-toggle="table" data-search="true" data-pagination="true">
                                <table class="table" >
                                    <thead>
                                        <tr>
                                        <th scope="col">No</th>
                                        <th scope="col">Sous-thème</th>
                                        <th scope="col">Référence</th>
                                        <th scope="col">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let allsoutheme of viewsouthemeModel">
                                        <th scope="row">1</th>
                                        <td>
                                            Adoéscence 
                                            <!--  (click)=""{{allsoutheme.nom_southm}} -->
                                        </td>
                                        <td>Puberté</td>
                                        <td>
                                            <!-- button consulsthm -->
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#consulsthm">
                                               Consulter
                                           </button>
                                            <!-- Button trigger supprim sthm-->
                                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#suprim">
                                                <i class="bi bi-trash-fill"></i>
                                            </button>
                                            <!-- button modif  sousthm-->
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modifs">
                                                <i class="bi bi-pencil-fill"></i>
                                            </button>
                                            <!-- Modal modif sousthm-->
                                            <div class="modal fade" id="modifs" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Modification du sous-thème</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form (ngSubmit)= " Onmodsouthm()">
                                                            <label for="titre">Titre :</label><br>
                                                            <input type="text" id="titre"  placeholder="les preservatifs" [(ngModel)]= "ajsouthm.nom_southm" [ngModelOptions]="{standalone:true}" required maxlength="40" #modtitresouthm="ngModel" [ngClass]="
                                                            {'is-invalid':modtitresouthm.touched && !modtitresouthm.valid}">
                                                             <!-- ----------------alerts----------- -->
                                                            <div *ngIf='modtitresouthm.getError("required")'  role="alert" class="invalid-feedback">
                                                                Remplir ce champs!
                                                            </div>
                                                            <br>
                        
                                                            <label for="contenu">contenu :</label><br>
                                                            <textarea name="" id="contenu" placeholder="Il est commun pour ..." required cols="40" rows="15" minlength="50" [(ngModel)]= "ajsouthm.libelle_southm" [ngModelOptions]="{standalone:true}"  #modlibsouthm="ngModel" [ngClass]="
                                                            {'is-invalid':modlibsouthm.touched && !modlibsouthm.valid}"></textarea>
                                                            <!-- ----------------alerts----------- -->
                                                            <div *ngIf='modlibsouthm.getError("required")'  role="alert" class="invalid-feedback">
                                                                Remplir ce champs!
                                                            </div>
                                                            <div *ngIf='modlibsouthm.getError("minlength")'  role="alert" class="warning-feedback">
                                                                ce champs contient au moins 50 caracteres!
                                                            </div>
                                                            <br><br>
                        
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        
                                                            <button disabled
                                                            *ngIf='modtitresouthm.getError("required") || modlibsouthm.getError("minlength") || modlibsouthm.getError("required")' type="submit" class="btn btn-primary" type="submit" class="btn btn-primary" data-bs-dismiss="modal">Publier</button>
                                                            <button 
                                                            *ngIf='!modtitresouthm.getError("required") && !modlibsouthm.getError("minlength") && !modlibsouthm.getError("required")' type="submit" class="btn btn-primary" type="submit" class="btn btn-primary" data-bs-dismiss="modal">Publier</button>
                        
                                                        </form>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                            <!-- Modal supprim-->
                                            <div class="modal fade" id="suprim" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog verif">
                                                <div class="modal-content ">
                                                    <div class="modal-body">
                                                        <p>Etes-vous sûr de vouloir supprimer ce sous-thème?</p>
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
                                                    <button type="button" class="btn btn-success"data-bs-dismiss="modal">Oui</button>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                            <!-- Modal conslusthm -->
                                            <div class="modal fade" id="consulsthm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Adoléscence</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        C’est une étape de la vie qui commence généralement de 10 ans jusqu’à 18 ans. <br>
                                                        Durant cette période, l’adolescent subit de nombreux changements physiques et psychologiques.
                                                        L’adolescent se retrouve dans un conflit constant entre non seulement ses besoins personnels (physiques et psychologiques) mais aussi entre ses tentatives d’indépendance, d’affirmation du soi et les idées et contraintes de la société. <br>
                                                        En effet, l’adolescent sent parfois : <br>
                                                        <ul>
                                                            <li><span>*</span>&nbsp;&nbsp;Des sauts d’humeur..</li>
                                                            <li><span>*</span>&nbsp;&nbsp;Une anxiété permanente </li>
                                                            <li><span>*</span>&nbsp;&nbsp;Une instabilité psychologique</li>
                                                            <li><span>*</span>&nbsp;&nbsp;Une attirance vers l’autre</li>
                                                            <li><span>*</span>&nbsp;&nbsp;Un repli sur soi</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                        </td>
                                        </tr>

                                        <!-- <tr>
                                        <th scope="row">3</th>
                                        <td colspan="2">Larry the Bird</td>
                                        <td>@twitter</td>
                                        </tr> -->
                                    </tbody>
                                    </table>
                            </table>

                        </div>
                    </div>
                </div>
              
            </div>
        </div>
    </div>
</section>