<app-header></app-header>

<section class="main">
  <div class="accordion" id="accordionExample">

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
         CYCLE ET MENSTRUATIONS
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          
          Ce sont les changements hormonaux naturels qui surviennent chaque mois chez une femme en préparation à la grossesse, à partir de la puberté et jusqu'à la ménopause. <br>
          Le cycle menstruel commence dès le premier jour des règles et le saignement dure en moyenne de 3 à 7 jours.La durée moyenne du cycle menstruel est de 28 jours, et cette période varie selon les femmes de 21 à 35 jours. <br>
          Le cycle menstruel se termine le premier jour des règles suivantes, en l'absence de grossesse.
          En cas de retard des règles, il est recommandé de consulter un médecin ou une sage-femme.L'utilisation de certains types de contraceptifs peut entrainer des modifications du cycle menstruel. <br>
          Certains effets secondaires peuvent accompagner les menstruations. Ce sont des effets naturels tels que les douleurs abdominales basses, l’irritabilité. En cas d’aggravation de l’état de santé il est conseillé de consulter un médecin. <br>
          Les menstruations sont un phénomène naturel et les filles/femmes peuvent nager, courir, exercer toutes les activités habituelles ainsi qu’avoir des rapports sexuels durant les règles. <br><br>

          <div class="sthm">

            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Cause de retard des règles
            </button>
  
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cause de retard des règle</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Même si vous avez un cycle régulier, vos règles peuvent parfois arriver un peu plus tôt ou plus tard présente une différence de durée inférieure à 7 jours, rien d'anormal à cela. Un cycle menstruel est considéré comme irrégulier lorsque sa durée varie de plus de 7 jours. <br>
              Vos règles peuvent aussi être plus abondantes ou plus légères que d'habitude. Chez certaines femmes, les pertes de sang durent de 2à 3 jours et chez certaines autres 5 jours ou plus. De temps à autre, alors que d'autres ont des règles irrégulières toute leur vie. <br>
              Et si vos règles sont en retard de plusieurs jours ? Cela peut être dů, par exemple, à un déséquilibre hormonal, à une maladie, à la prise de certains médicaments, à un exercice physique excessif, à une mauvaise alimentation, au stress, à une perte ou à une prise de poids soudaine et aux voyages. Si vous ne comprenez pas pourquoi vos règles sont devenues irrégulières, nous vous conseillons de consulter un médecin. <br><br>
              <code>Références</code><br>
              <ul class="ref">
                <li>"Menstrual Cycle: What's Normal, What's Not.", Mayo Clinic, 29 Apr. 2021, www.mayoclinic.org/healthy-lifestyle/ womens-health/in-depth/menstrual-cycle/art-20047186.</li>
                <li>"Why Is My Period Late?", Cleveland Clinic, 28 May 2021, health.clevelandclinic.org/why-is-my-period-late.</li>
                <li> "Periods and Fertility in the Menstrual Cycle.", NHS, 5 Aug. 2019, www.nhs.uk/conditions/periods/ fertility-in-the-menstrua-cycle/. </li>
                <li>Thiyagarajan, Dhanalakshmi, et al. "Physiology, Menstrual Cycle.", StatPearls, StatPearls Publishing, 17 Sep. 2020, www.ncbi.nlm.nih.gov/books/NBK500020.</li>
                <li> Reed, Beverly, and Bruce R. Carr. "The Normal Menstrual Cycle and the Control of Ovulation.", Endotext, edited by K. R. Feingold et al., MDText.com, 2000, www.ncbi.nlm.nih.gov/ books/NBK279054/.</li>
              </ul>
                  </div>
                </div>
              </div>
            </div>
  
            <!-- ---------------2eme ------------------- -->

            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModa">
              Quand faire un test?
            </button>
  
            <!-- Modal -->
            <div class="modal fade" id="exampleModa" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Quand faire un test?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Il est recommandé de faire un test de grossesse en cas de retard de règles, de pause dans la prise d'un contraceptif oral (par ex., oubli d'une pilule) ou de symptômes inhabituels (nausées, aversions alimentaires, etc.).<br>
                    Un test de grossesse permet de déceler I'hormone chorionique gonadotrope humaine (hCG), une hormone produite pendant la grossesse. Son taux commence à augmenter après l'implantation de l'ovule fécondé dans la paroi utérine (environ 6 à 10 jours après la conception).<br>
                    Faire un test de grossesse est utile à partir du 14e jour suivant la date présumée de l'ovulation ou du premier jour où les règles étaient attendues (si vos cycles sont réguliers). Le meilleur moment pour effectuer le test est le matin, au réveil. 
                    Si le test de grossesse est effectué trop tôt, le résultat peut être un faux négatif. En cas de doute, refaites le test après quelques jours ou consultez un gynécologue. <br><br>
        
                    <code>Références</code><br>
                    <ul class="ref">
                      <li>"Home Pregnancy Tests: Can You Trust the Results?", Mayo Clinic, 24 Feb. 2021, www.mayoclinic.org/healthy-lifestyle/ getting-pregnant/in-depth/home-pregnancy-tests/ art-20047940. </li>
                      <li>Anderson, Jackie, and Kenn R. Ghaffarian. "Early Pregnancy Diagnosis.", StatPearls, StatPearls Publishing, 11 Jan. 2021, www.ncbi.nlm.nih.gov/books/NBK556135.</li>
                      <li>"Pregnancy Test.", Medline Plus, 3 Dec. 2020, medlineplus.gov/lab-tests/pregnancy-test.</li>
                      <li>"Doing a Pregnancy Test.", NHS, 1 Oct. 2018, www.nhs.uk/ pregnancy/trying-for-a-baby/doing-a-pregnancy-test.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          PUBERTE
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Chez le garçon</strong> <br>
          <ul>
            <li><span>*</span>&nbsp;&nbsp; La puberté survient souvent chez les garçons entre l’âge de 11 et 14 ans (en moyenne à l’âge de 12 ans)</li>
            <li><span>*</span>&nbsp;&nbsp;Changement de la voix </li>
            <li><span>*</span>&nbsp;&nbsp;Croissance de l’appareil génital</li>
            <li><span>*</span>&nbsp;&nbsp;Poussée de poil sous les aisselles et autour de l’appareil génital</li>
            <li><span>*</span>&nbsp;&nbsp;Apparition de l’acné</li>
            <li><span>*</span>&nbsp;&nbsp;Emergence des sentiments d’amour et d’attirance vers l’autre</li>
            <li><span>*</span>&nbsp;&nbsp;Survenue de la première éjaculation (la sortie du sperme du pénis)</li>
            <li><span>*</span>&nbsp;&nbsp;Le corps et le système reproducteur grandissent et le pubère(ou adolescent) acquiert la faculté de se procréer et avoir des enfants</li>
          </ul>
          Le rythme de croissance et de changement physique varie d’un adolescent à un autre. <br><br>

           <strong>Chez la fille</strong><br>
           <ul>
            <li><span>*</span>&nbsp;&nbsp;La puberté survient souvent chez les filles entre l’âge de 11 et 14 ans (en moyenne à l’âge de 11 ans)</li>
            <li><span>*</span>&nbsp;&nbsp;Développement des seins</li>
            <li><span>*</span>&nbsp;&nbsp;Poussée de poils sous les aisselles et autour de l’appareil génital</li>
            <li><span>*</span>&nbsp;&nbsp;Apparition de l’acné</li>
            <li>Emergence des sentiments d’amour et d’attirance vers l’autre</li>
            <li><span>*</span>&nbsp;&nbsp;Survenue des premières règles qui se manifestent par un petit saignement de l'appareil génital (sortie d'un peu de sang du vagin).</li>
            <li><span>*</span>&nbsp;&nbsp;Le cycle menstruel survient chaque mois le corps et le système reproducteur grandissent et la pubère(ou adolescente) acquiert la faculté de se procréer et avoir des enfants.</li>
           </ul><br>
          Le rythme de croissance et de changement physique varie d'une adolescente à une autre.
          <div class="sthm">
            <!-- button southm -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModl">
              l'adolécence
            </button>
  
            <!-- Modal -->
            <div class="modal fade" id="exampleModl" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">l'adolécence</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    C’est une étape de la vie qui commence généralement de 10 ans jusqu’à 18 ans. <br>
                    Durant cette période, l’adolescent subit de nombreux changements physiques et psychologiques.
                    L’adolescent se retrouve dans un conflit constant entre non seulement ses besoins personnels (physiques et psychologiques) mais aussi entre ses tentatives d’indépendance, d’affirmation du soi et les idées et contraintes de la société. <br>
                    En effet, l’adolescent sent parfois : <br>
                    <ul>
                      <li><span>*</span>&nbsp;&nbsp;Des sauts d’humeur..</li>
                      <li><span>*</span>&nbsp;&nbsp;Une anxiété permanente </li>
                      <li><span>*</span>&nbsp;&nbsp;Une instabilité psychologique</li>
                      <li><span>*</span>&nbsp;&nbsp;Une attirance vers l’autre</li>
                      <li><span>*</span>&nbsp;&nbsp;Un repli sur soi</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
         IST
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Les infections sexuellement transmissibles (|ST) peuvent être contractées lors de tout contact sexuel non protégé (relations sexuelles vaginales, orales ou anales). Elles peuvent également être transmises par le contact avec du sang infecté, le partage d'aiguilles pour des injections, par exemple. Certaines IST peuvent également être transmises par contact cutané. <br><br>

          <strong>Les IST virales </strong><br><br>

          Certaines IST sont causées par des virus. Ces infections ne peuvent pas être guéries, mais elles peuvent être bien contrôlées. Les IST virales les plus dangereuses sont le virus de l'immunodéficience maine (VIH), I'hépatite B et l'hépatite C. <br>
          Les autres virus sont moins dangereux. Parmi ceux-ci le cytomégalovirus, I'herpès et le papillomavirus humain. Cependant, ils peuvent entraîner diverses complications s'ils restent longtemps dans l'organisme. <br>
          Les verrues génitales se présentent sous forme de petites excroissances, de bosses ou de modifications de la peau. Elles apparaissent sur ou autour de votre région génitale ou anale. Causées par le virus du papillome humain (HPV), il s'agit de la deuxième IST la plus courante. <br>
          L'herpès génital est une affection courante causée par le virus herpès simplex, le même que celui quiprovoque des boutons de fièvre. <br><br>

          <strong>Les IST bactériennes </strong><br><br>

          Les IST dues aux bactéries (chlamydia, gonorrhée et syphilis) peuvent être guéries par un traitement antimicrobien opportun et à long terme. <br>
          La chlamydia est IIST la plus répandue dans le monde. Cette infection étant bien souvent asymptomatique, les personnes infectées ne savent pas qu'elles le sont. <br>
          La gonorrhée est une autre IIST bactérienne répandue. Environ 50 % des femmes et 10 % des hommes ne présentent aucun symptôme et ne savent pas qu'ils sont infectés. <br>
          La syphilis est elle aussi une infection bactérienne. Pendant les premiers stades, elle provoque des lésions indolores, mais hautement infectieuses, sur les organes génitaux ou autour de la bouche. <br><br>

          <strong>Les IST parasitaires </strong><br><br>

          Ce sont les infections (trichomonase, gale, poux du pubis) qui causent le moins de dommages au corps si elles sont détectées rapidement et traitées de manière adéquate. <br>
          Certaines bactéries et champignons (Candida, Gardnerella, Streptococcus, Staphylococcus, Escherichia) ne sont normalement pas pathogènes, mais peuvent être à l'origine de troubles face à une réponse immunitaire locale insuffisante. <br>
          Sans diagnostic ni traitement précoce, ils peuvent nuire à votre santé en général et à votre fertilité en particulier.<br><br>
          <code>Référence </code><br>
          <ul class="ref">
            <li>''Sexually Transmitted Diseases (STDS). Diseases & Related Conditions.", Centers for Disease Control and Prevention, 8 Dec. 2021, www.cdc.gov/std/general/default. htm.</li>
          </ul>
          <div class="sthm">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#adolescent">
              Comment se protéger de l'espèce
            </button>
  
            <!-- Modal -->
            <div class="modal fade" id="adolescent" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Comment se protéger de l'espèce</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Quatre-vingt-dix pour cent de la population mondiale est porteuse du virus herpès simplex, mais la plupart des gens ne le savent pas, car il est asymptomatique. L'infection primaire est presque impossible à prévenir (elle survient généralement pendant l'enfance), par contre, vivre avec le virus sans qu'il ne vous dérange trop est possible. Voici Comment: <br>
                    <ul>
                      <li><span>*</span>&nbsp;&nbsp;Lavez-vous les mains et utilisez vos propres produits d'hygiène (serviettes, éponges de bain, etc.).
                        Évitez les températures trop chaudes ou trop froides.</li>
                      <li><span>*</span>&nbsp;&nbsp;Évitez tout stress inutile. </li>
                      <li><span>*</span>&nbsp;&nbsp;Essayez d'avoir une alimentation équilibrée (par exemple, mangez plus de fruits et légumes, et moins d'aliments salés et de sucreries).</li>
                      <li><span>*</span>&nbsp;&nbsp;Menez une vie saine (bougez plus, passez plus de temps au grand air).</li>
                      <li><span>*</span>&nbsp;&nbsp;Evitez les rapports sexuels avec des partenaires Occasionnels.
                      </li>
                    </ul>
                    Si vous venez d'entrer en contact avec une personne ou une surface infectée, il peut être utile de vous laver les mains (ou de prendre une douche) et de traiter les zones d'infection possibles (les lèvres, les organes génitaux externes) avec des agents antiviraux topiques.<br><br>
                    <code>Références</code><br>
                    <ul class="ref">
                      <li>"Herpes Simplex Virus.", World Health Organization, 1 May 2020, www.who.int/news-room/fact-sheets/detail/ herpes-simplex-virus.</li>
                      <li> "STD Facts: Genital Herpes.", Centers for Disease Control and Prevention, 28 Aug. 2017, www.cdc.gov/std/herpes/ stdfact-herpes.htm.</li>
                      <li>Wald, Anna, and Lawrence Corey. "Persistence in the Population: Epidemiology, Transmission.", Human Herpesviruses: Biology, Therapy, and Immunoprophylaxis, edited by A. Arvin et al., Cambridge University Press, 2007, www.ncbi.nlm.nih.gov/books/NBK47447/.</li>
                      <li>"Genital HSV Infections: 2015 STD Treatment Guidelines.", Centers for Disease Control and Prevention, 4 June 2015, www.cd.gov/std/tg2015/herpes.htm.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  
</section>

<app-footer></app-footer>