.main{
    width: 85%;
    padding: 20px 5px;
    /* background-color: aquamarine; */
    margin: auto;
}
.accordion-item{
    background-color: #ffc8e438;
    border: 2px solid #dadde6;
}
.accordion-button{
    background-color:#3c58a473 ;
}
.accordion-button:hover{
    background-color:#3c58a475 ;
}
.accordion-button{
    font-weight: bold;
    font-size: 24px;
    color: #303E65;
}
.sthm{
    /* background-color: aqua; */
    width: 100%;
    padding: 2px;
}
.sthm .btn-primary{
    margin: 5px;
    background-color:#ffd2e9 ;
    color:#e0318b9d ;
    border: 2px solid #e0318b9d;
    padding: 30px 25px;
    font-weight: bold;
    font-size: 16px;
}
.sthm .btn-primary:hover{
    background-color: #d4428e3a;
    color: #303E65;
    border-color: #303E65;
    font-size:17px;
    transition: all ease-in-out .3s;
}
strong{
    color: #9b1c5e;
    font-size: 20px;
}
.modal-header{
    background-color:#3c58a473 ;
    font-weight: bold;
}
.modal-title{
    color: #fff;
}
.ref {
    list-style: circle;
}
ul{
    list-style: none;
}
span{
    font-size: 18px;
    font-weight: bold;
    color: #E0318C;
}
code{
    font-style: oblique;
    font-weight: bold;
}
.ref li{
    font-size: 11px;
    font-style: italic;
    color: rgb(170, 170, 170);
}