<section class="main">
    <div class="maincontent">

        <div class="card">
            
            <div class="lgpost">
    
                <div class="pst1" *ngFor="let allPost of viewPostModel">
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                {{allPost.titre_post}}
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">{{allPost.libelle_post}}</div>
                        </div>
                        </div>
                    </div>
                    <div class="drname">
                        <p>Dr. {{allPost.medecin?.utilisateur.nom}}</p>
                    </div>
                    <div class="actions">
                    <!-- Button trigger supprim-->
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#supprim"><i class="bi bi-trash-fill"></i>
                    </button>
                    </div>
                </div>
            </div>
             <!-- Modal supprim-->
             <div class="modal fade" id="supprim" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog verif">
                <div class="modal-content ">
                    <div class="modal-body">
                        <p>Etes-vous sûr de vouloir spprimer ce post?</p>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
                    <button type="button" class="btn btn-success"data-bs-dismiss="modal">Oui</button>
                    </div>
                </div>
                </div>
              </div>
        </div>

    </div>
</section>