<p>footer works!</p>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>footer</title>
</head>
<body>

<footer>
    <div class="infos">
      <h2>contact</h2><br>
      <div class="ligne"></div>
      <ul>
        <li>+237 658271566</li>
        <li>wendydegueajio@gmail.com</li>
      </ul>
    </div>
    <div class="infos2">
      <h2>Links</h2><br>
      <div class="ligne"></div>
      <ul>
        <li><a routerLink="/accueil" routerLinkActive="active">ACCEUIL</a></li>
        <li><a routerLink="/connexion" routerLinkActive="active">CONNEXION</a></li>
        <li><a routerLink="/sensibilisation" routerLinkActive="active">JE M'INFORME</a></li>
      </ul>
    </div>
    <div>
      <h2>Compagny</h2><br>
      <div class="ligne"></div>
      <p>Nous somme situé au carrefour Bieym-Assi <br>A l'ancien immeuble socropol porte 119</p>
    </div>
  </footer>
</body>
</html>