*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box; 
    font-family: Aptos Century Gothic, sans-serif;
}
body{
     background-color: #fff7fbe8;
}
footer{
    background-color: #1c1b23;
    width: 100%;
    min-height: 120px;
    margin-top: 10px;
    
}
footer div{
    display: inline-block;
    /* border:solid 1px #303E65; */
    margin: 10px 20px;
    width: 300px;
    padding: 20px;
    vertical-align: top;
}
footer div a{
    color: #fff;
    font-weight: bold;
    color: rgba(223, 222, 222, 0.842);
    font-size: 14px;
}
footer li,p{
    line-height: 25px;
    margin: 3px 0;
    color: rgba(223, 222, 222, 0.842);
    font-size: 14px;
}
footer h2{
    line-height: 0;
    color: #3C57A4;
}
footer .ligne{
    border: solid 2px #FF98CD;
    margin: 3px 0;
    padding: 0;
    width: 90%;
}
@media(max-width:900px){
    footer{
        text-align: center;   
    }
    footer div{
        display: block;
        margin: 20px auto;
        width: 60%;
    }
    footer .ligne{
        width: 100%;
    }
}