<app-header></app-header>

<section class="main">
    <div class="title-form">
      <h1>Inscription</h1><br>
      <p>choisissez votre profil</p>
    </div>
    <div class="form-box">

      <input type="checkbox" id="chk" aria-hidden="true">

      <div class="input-groupj">
        <form  (ngSubmit)= "OnRegistjn()"  [formGroup]="registerForm" autocomplete="">

            <span><label for="chk" aria-hidden="true">JEUNE</label></span>

          <input type="text" placeholder="Nom" class="input-slide" [(ngModel)]= "regist.firstname" [ngModelOptions]="{standalone:true}" required maxlength="30" minlength="2" #nomvr="ngModel" [ngClass]="
          {'is-invalid':nomvr.touched && !nomvr.valid}">
          <!-- ----------------alerts----------- -->
          <div *ngIf='nomvr.getError("required")' class="invalid-feedback" role="alert">
            le nom ne doit pas rester vide!
          </div>
          <div *ngIf='nomvr.getError("minlength")'  role="alert" class="warning-feedback">
            ce champs a au moins 2 lettre!
          </div>
          <br>

          <input type="text" placeholder="Prénom" class="input-slide" [(ngModel)]= "regist.lastname" [ngModelOptions]="{standalone:true}" maxlength="30" minlength="2" #prenomvr="ngModel" [ngClass]="
          {'is-invalid':prenomvr.touched && !prenomvr.valid}"><br>
          <!-- ----------------alerts----------- -->
          <div *ngIf='prenomvr.getError("minlength")'  role="alert" class="invalid-feedback">
            ce champs a au moins 2 lettre!
          </div>

          <input type="email" placeholder="Email" class="input-slide"[(ngModel)]= "regist.email" [ngModelOptions]="{standalone:true}" required email #emailvr="ngModel" [ngClass]="
          {'is-invalid':emailvr.touched && !emailvr.valid}">
          <!-- ----------------alerts----------- -->
          <div *ngIf='emailvr.getError("required")'  role="alert" class="invalid-feedback">
            l'email ne doit pas rester vide!
          </div>
          <div *ngIf='emailvr.getError("email")' class="warning-feedback" role="alert">
            ce champ doit contenir un email!
          </div><br>

          <input type="date" placeholder="Date de naissance" class="input-slide" [(ngModel)]= "regist.datenaiss" [ngModelOptions]="{standalone:true}" required #datevr="ngModel" [ngClass]="
          {'is-invalid':datevr.touched && !datevr.valid}">
          <!-- ----------------alerts----------- -->
          <div *ngIf='datevr.getError("required")' class="invalid-feedback" role="alert">
            la date ne doit pas rester vide!
          </div>
          <br>

          <input type="text" placeholder="Pseudo" class="input-slide" [(ngModel)]= "regist.pseudo" [ngModelOptions]="{standalone:true}" required minlength="5" #pseudovr="ngModel" [ngClass]="
          {'is-invalid':pseudovr.touched && !pseudovr.valid}">
          <!-- ----------------alerts----------- -->
          <div *ngIf='pseudovr.getError("required")' class="invalid-feedback" role="alert">
            le pseudo ne doit pas rester vide!
          </div>
          <div *ngIf='pseudovr.getError("minlength")' class="warning-feedback" role="alert">
            le pseudo ne doit avoir au moins 5 caractères!
          </div>
          <br>

          <input type="tel" placeholder="telephone" class="input-slide" [(ngModel)]= "regist.telephone" [ngModelOptions]="{standalone:true}" maxlength="9" minlength="9"  required #telvr="ngModel" [ngClass]="
          {'is-invalid':telvr.touched && !telvr.valid}">
          <!-- ----------------alerts----------- -->
          <div *ngIf='telvr.getError("minlength")' class="warning-feedback" role="alert">
            le numero est de 9 chiffres!
          </div>
          <div *ngIf='telvr.getError("required")' class="invalid-feedback" role="alert">
            le numero ne doit pas rester vide!
          </div>
          <!-- <div *ngIf='telvr.getError("type")' class="invalid-feedback" role="alert">
            le numero est composé uniauement de chiffres!
          </div> -->

          <input type="password" placeholder="password" class="input-slide" [(ngModel)]= "regist.password" [ngModelOptions]="{standalone:true}" minlength="5" maxlength="30" required #passvr="ngModel" [ngClass]="
          {'is-invalid':passvr.touched && !passvr.valid}">
          <!-- ----------------alerts----------- -->
          <div *ngIf='passvr.getError("required")' class="invalid-feedback" role="alert">
            remplir le mot de passe!
          </div>
          <div *ngIf='passvr.getError("minlength")'  class="warning-feedback" role="alert">
            Le mot de pass doit avoir au moins 5 caractères!
          </div>
          <br>
    
          <label for="s" class="sex">Sexe</label>
          F &nbsp;<input type="radio" name="cl"  id="s" required [(ngModel)]= "regist.sexe" [ngModelOptions]="{standalone:true}" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          M &nbsp;<input type="radio" name="cl"id="s" required >

          <button 
          class="submit-btn" disabled
        *ngIf='emailvr.getError("required") || emailvr.getError("email") || passvr.getError("required") || passvr.getError("minlength") || nomvr.getError("required") || datevr.getError("required") || pseudovr.getError("required") || pseudovr.getError("minlength") || telvr.getError("minlength") || telvr.getError("required") || prenomvr.getError("minlength")|| nomvr.getError("minlength")'
         type="submit" >valider</button> 
         <button 
        
        *ngIf='!emailvr.getError("required") && !emailvr.getError("email") && !passvr.getError("required") && !passvr.getError("minlength") && !nomvr.getError("required") && !datevr.getError("required") && !pseudovr.getError("required") && !pseudovr.getError("minlength") && !telvr.getError("minlength") && !telvr.getError("required") && !prenomvr.getError("minlength") && !nomvr.getError("minlength")' 
         type="submit" class="submit-btn">valider</button><br>
          
        </form>
      </div>

      <div class="input-groupm">
        <form  (ngSubmit)= "OnRegistmd()"  [formGroup]="registerForm"  autocomplete="">

          <span><label for="chk" aria-hidden="true">MEDECIN</label></span>
          <div class="col1">

            <input type="text" placeholder="Nom" class="input-slide" [(ngModel)]= "registmd.firstname" [ngModelOptions]="{standalone:true}" required #nomedvr="ngModel" minlength="2" [ngClass]="
            {'is-invalid':nomedvr.touched && !nomedvr.valid}">
            <!-- ----------------alerts----------- -->
          <div *ngIf='nomedvr.getError("required")' class="invalid-feedback" role="alert">
            le nom ne doit pas rester vide!
          </div>
          <div *ngIf='nomedvr.getError("minlength")'  role="alert" class="warning-feedback">
            ce champs a au moins 2 lettre!
          </div>

            <input type="text" placeholder="Prénom" class="input-slide" [(ngModel)]= "registmd.lastname" [ngModelOptions]="{standalone:true}" required #prenomedvr="ngModel" minlength="2" [ngClass]="
            {'is-invalid':prenomedvr.touched && !prenomedvr.valid}">
            <!-- ----------------alerts----------- -->
          <div *ngIf='prenomedvr.getError("minlength")'  role="alert" class="warning-feedback">
            ce champs a au moins 2 lettre!
          </div>

            <input type="email" placeholder="Email" class="input-slide" [(ngModel)]= "registmd.email" [ngModelOptions]="{standalone:true}" required email #emailedvr="ngModel" [ngClass]="
            {'is-invalid':emailedvr.touched && !emailedvr.valid}">
            <!-- ----------------alerts----------- -->
          <div *ngIf='emailedvr.getError("required")'  role="alert" class="invalid-feedback">
            l'email ne doit pas rester vide!
          </div>
          <div *ngIf='emailedvr.getError("email")' class="warning-feedback" role="alert">
            ce champ doit contenir un email!
          </div>

            <input type="tel" required placeholder="telephone" value="+237 " [(ngModel)]= "registmd.telephone" [ngModelOptions]="{standalone:true}" class="input-slide" #teledvr="ngModel" maxlength="9" minlength="9" [ngClass]="
            {'is-invalid':teledvr.touched && !teledvr.valid}">
              <!-- ----------------alerts----------- -->
            <div *ngIf='teledvr.getError("minlength")' class="warning-feedback" role="alert">
              le numero est de 9 chiffres!
            </div>
            <div *ngIf='teledvr.getError("required")' class="invalid-feedback" role="alert">
              le numero ne doit pas rester vide!
            </div>

            <input type="password" placeholder="password" class="input-slide" [(ngModel)]= "registmd.password" [ngModelOptions]="{standalone:true}" required #passedvr="ngModel" minlength="5" [ngClass]="
            {'is-invalid':passedvr.touched && !passedvr.valid}"><br>
            <!-- ----------------alerts----------- -->
            <div *ngIf='passedvr.getError("required")' class="invalid-feedback" role="alert">
              remplir le mot de passe!
            </div>
            <div *ngIf='passedvr.getError("minlength")'  class="warning-feedback" role="alert">
              Le mot de pass doit avoir au moins 5 caractères!
            </div><br>
          </div>
    
          <div class="col2">
            <input type="date" placeholder="Date de naissance" class="input-slide" [(ngModel)]= "registmd.datenaiss" [ngModelOptions]="{standalone:true}" required #datedvr="ngModel" [ngClass]="
            {'is-invalid':datedvr.touched && !datedvr.valid}">
            <!-- ----------------alerts----------- -->
          <div *ngIf='datedvr.getError("required")' class="invalid-feedback" role="alert">
            la date ne doit pas rester vide!
          </div><br>

            <input type="text" placeholder="Pseudo" class="input-slide" minlength="5" [(ngModel)]= "registmd.pseudo" [ngModelOptions]="{standalone:true}" required #pseudoedvr="ngModel" [ngClass]="
            {'is-invalid':pseudoedvr.touched && !pseudoedvr.valid}">
            <!-- ----------------alerts----------- -->
          <div *ngIf='pseudoedvr.getError("required")' class="invalid-feedback" role="alert">
            le pseudo ne doit pas rester vide!
          </div>
          <div *ngIf='pseudoedvr.getError("minlength")' class="warning-feedback" role="alert">
            le pseudo ne doit avoir au moins 5 caractères!
          </div><br>

            <label for="autori">Autorisation d'exercer</label><br>

            <div class="file-upload">
              <i class="fas fa-upload"></i>&nbsp; choisir fichier 
              <div class="load">
                <input type="file" required name="autori" [(ngModel)]= "registmd.auto_exercice" [ngModelOptions]="{standalone:true}">
              </div>
            </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>
    
            Proféssion <br>
            <select class="form-select" aria-label="Default select example" required>
              <option selected>Généraliste</option>
              <option value="1">Spychologue</option>
              <option value="2">Généraliste</option>
              <option value="4">Sexotherapeute</option>
              <option value="5">Urologue</option>
              <option value="6">Ostéopathe</option>
              <option value="7">Sexologue</option>
            </select>
            
            <div class="choix1">
              <label for="s">Sexe</label><br>
              F &nbsp;<input type="radio" name="cl"  id="s" [(ngModel)]= "registmd.sexe" [ngModelOptions]="{standalone:true}" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              M &nbsp;<input type="radio" name="cl"id="s" [(ngModel)]= "registmd.sexe" [ngModelOptions]="{standalone:true}">
            </div><br>
            Hôpital <br>
            <select class="form-select" aria-label="Default select example"  required>
              <option selected>Saint marc</option>
              <option value="1">La caisse</option>
              <option value="2">Mvolier</option>
              <option value="4">CHU</option>
              <option value="5">Hopital des references</option>
              <option value="6">La main du secours</option>
              <option value="7">Les soeurs</option>
            </select>
            
    
          </div>
          <br>
          <button 
          class="submit-btn" disabled
        *ngIf='emailedvr.getError("required") || emailedvr.getError("email") || passedvr.getError("required") || passedvr.getError("minlength") || nomedvr.getError("required") || datedvr.getError("required") || pseudoedvr.getError("required") || pseudoedvr.getError("minlength") || teledvr.getError("minlength") || teledvr.getError("required") || prenomedvr.getError("minlength") || nomedvr.getError("minlength")'
         type="submit" >non-valider</button> 
         <button 
        *ngIf='!emailedvr.getError("required") && !emailedvr.getError("email") && !passedvr.getError("required") && !passedvr.getError("minlength") && !nomedvr.getError("required") && !datedvr.getError("required") && !pseudoedvr.getError("required") && !pseudoedvr.getError("minlength") && !teledvr.getError("minlength") && !teledvr.getError("required") && 
        !prenomedvr.getError("minlength") && !nomedvr.getError("minlength")' 
         type="submit" class="submit-btn">valider</button><br>
        </form> 
      </div>
      
    </div>
  </section>

  <app-footer></app-footer>