
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box; 
    font-family: Aptos Century Gothic, sans-serif;
}
.main{
     background-color: #303E65;
     /* margin: 40px 0; */
     padding: 30px 0;
}
/* ///////////////////////////   main  /////////////////////// */
.title-form{
    text-align: center;
    margin: auto;
    width: 450px;
}
.title-form p{
    line-height: 14px;
    color: #fff;
    font-size: 1em;
    margin-bottom: 10px;
    padding: 5px;
}
.title-form h1{
        color: #E0318C;
       font-size: 50px;
       margin:10px 0 0 0;
       font-weight: bold;
}
.form-box{
    width: 60%;
    margin: auto;
    height: 750px;
    background-color: #fff;
    overflow: hidden;
    transition: .5s;
    /* padding: 5px; */
    border-radius: 20px;
    min-width: 600px;
}

#chk{
    display: none;
}
span{
   color: #1c1b23;
   font-size: 1.4em;
   justify-content: center;
   display: flex;
   margin:auto ;
    margin-bottom: 60px;
   font-weight: bold;
   cursor: pointer;
   transition: .5s ease-in-out;
}

.input-slide{
    padding: 15px 8px;
    margin: 6px 0;
    outline: none;
    border: 0 0 1px 0;
    border-style: solid;
    border-radius:5px ;
    border-color: #303E65;
    background: transparent;
    background-color: #ff98cd25;
}
.input-slide::-webkit-input-placeholder{
    color: #1c1b23;   
} 
.input-slide:hover{
    background-color: #e0318b5d;
    transition: all ease-in-out .5s;
}

.col2 .input-slide{
    width: 100%;
}
.input-groupj{
    /* background-color: #3C57A4; */
    position: relative;
    padding: 20px 10px;
    height: 100%;
    width: 100%;
    text-align: center;
}
.input-groupj .input-slide{
    width: 60%;
    padding: 10px 8px;
}
.input-groupm{
    background-color: #ffbade;
    height: 700px;
    padding: 20px 10px;
    border-radius:100px 100px 0px 0px;
    transform: translateY(-90px);
    transition: .8s ease-in-out;
}

#chk:checked ~ .input-groupm{
    transform: translateY(-675px);
}
#chk:checked ~ .input-groupm span {
    transform: scale(1);
}
#chk:checked ~ .input-groupj span {
    transform: scale(.7);
}

.col1,.col2{ 
    display: inline-block;
    vertical-align: top;
    /* border: 1px solid #1c1b23; */
    padding: 12px 5px;
    box-sizing: border-box;
}
.col1{
    width: 50%;
}
.col2{
    width: 45%;
    margin-left: 10px;
}
.col2 .form-select{
    padding: 5px 7px;
    border: none;
    outline: none;
    background-color: #e0318b5d;
}

.col1 .input-slide{
    width: 100%;
}
.file-upload{
   display: inline-block;
   padding:0 10px 3px 0;
   width: 130px;
   margin: 8px 0;
   height: 36px;
   line-height: 36px;
   color: #1c1b23;
   border: solid 2px #303E65;
   cursor: pointer;
   position: relative;
   align-items: center;
   text-align: center;
   border-radius: 5px;
   overflow: hidden;
   background-color:#fde9f3f3 ;
   transition: .2s ease-in-out;
}
.file-upload:hover{
    background-color:#e0318b5d ;
}
.load{
    background-color: aquamarine;
    max-width: 130px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.choix1{
    width: 100%;
    margin: 8px 0;
    border:1px dashed #f7f9fd;
}
.submit-btn{
    float: right;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    color: #fff;   
    background-color: #E0318C;
    transition: all cubic-bezier(0.23, -0.48, 0.19, 1.51) .3s;
    margin:10px 20px;
    padding: 10px ;
    width: 100px;
}
.submit-btn:hover{
    width:110px ;
}
@media (max-width:926px){
    .form-box{
        width: 80%;
    }
}
