<p>inscription works!</p>

<section class="main">
    <div class="title-form">
      <h1>Inscription</h1><br>
      <p>choisissez votre profil</p>
    </div>
    <div class="form-box">
  
      <div class="button-box">
        <div id="btn"></div>
        <button type="button" class="slide-btn" onclick="jeunes()">JEUNE</button>
        <button type="button" class="slide-btn" onclick="medecin()">MEDECIN</button>
      </div>
  
      <form action="" id="jeunes" class="input-groupj" autocomplete="">
        <input type="text" placeholder="Nom" class="input-slide" required><br>
        <input type="text" placeholder="Prénom" class="input-slide" required><br>
        <input type="email" placeholder="Email" class="input-slide" required><br>
        <input type="date" placeholder="Date de naissance" class="input-slide" required><br>
        <input type="text" placeholder="Pseudo" class="input-slide" required><br>
        <input type="password" placeholder="password" class="input-slide" required><br><br>
  
        <label for="s" class="sex">Sexe</label><br><br>
        F &nbsp;<input type="radio" name="cl"  id="s" required>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        M &nbsp;<input type="radio" name="cl"id="s" required><br>
        <button  type="submit" class="submit-btn">Valider</button><br>
      </form>
  
      <form action="" id="medecin" class="input-groupm" autocomplete="">
        <div class="col1">
          <input type="text" placeholder="Nom" class="input-slide" required><br>
          <input type="text" placeholder="Prénom" class="input-slide" required><br>
          <input type="email" placeholder="Email" class="input-slide" required><br>
          <input type="date" placeholder="Date de naissance" class="input-slide" required><br>
          <input type="text" placeholder="Pseudo" class="input-slide" required><br>
          <input type="tel" required placeholder="telephone" value="+237 " class="input-slide">
          <input type="password" placeholder="password" class="input-slide" required><br><br>
        </div>
  
        <div class="col2">
          <label for="autori">Autorisation d'exercer</label><br>
          <div class="file-upload">
            <i class="fas fa-upload"></i>&nbsp; choisir fichier <div class="load"><input type="file" required name="autori"></div>
          </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>
  
          Proféssion <br>
          <div class="choix2">
            <div class="select">
  
              <span>Génicologue</span>
              <i class="fas fa-angle-down"></i>
            </div>
            <div class="option-list">
              <div class="option">Spychologue</div>
              <div class="option">Généraliste</div>
              <div class="option">Sexotherapeute</div>
              <div class="option">Urologue</div>
              <div class="option">Ostéopathe</div>
              <div class="option">Sexologue</div>
            </div>
  
          </div>
          <div class="choix1">
            <label for="s">Sexe</label><br>
            F &nbsp;<input type="radio" name="cl"  id="s" required>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            M &nbsp;<input type="radio" name="cl"id="s" required>
          </div><br>
          Hôpital <br>
          <div class="choix3">
            <div class="silect">
              <span class="spann">Saint Marc</span>
              <i class="fas fa-angle-down"></i>
            </div>
            <div class="optio-list">
              <div class="optio">Spychologue</div>
              <div class="optio">Généraliste</div>
              <div class="optio">Saint Marc</div>
              <div class="optio">Sexotherapeute</div>
              <div class="optio">Urologue</div>
              <div class="optio">Ostéopathe</div>
              <div class="optio">Sexologue</div>
            </div>
          </div>
  
        </div>
        <br>
        <button  type="submit" class="submit-btn">Valider</button><br>
      </form> 
    </div>
  </section>