<app-header></app-header> 

  <section class="milieu">
    <div class="formulr">
      <h1>Connexion</h1>
      

      <form  FormGroup="loginForm" name="form" (ngSubmit)= " OnSubmit()">

        <input type="email" placeholder="E-mail" name="email" class="form-contol"  [(ngModel)] = "authRequest.email" [ngModelOptions]="{standalone:true}" required email #emailvr="ngModel" [ngClass]="
        {'is-invalid':emailvr.touched && !emailvr.valid}" FormControlName="email" >
         <!-- ----------------alerts----------- -->
          <div *ngIf='emailvr.getError("required")' class="invalid-feedback" role="alert">
            remplir l'email!
          </div>
          <div *ngIf='emailvr.getError("email")' class="warning-feedback" role="alert">
            ce champ doit contenir un email!
          </div>
      

        <input type="password" placeholder="password" 
         name="password" class="form-contol" required minlength="5" maxlength="20" pattern="(?=.?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^& -]). {8, }$" #passvr="ngModel" 
         [ngClass]="{'is-invalid':passvr.touched && !passvr.valid}"
         [(ngModel)] = "authRequest.password" [ngModelOptions]="{standalone:true}" FormControlName="password" required>
         <!-- ----------------alerts----------- -->
         <div *ngIf='passvr.getError("required")' class="invalid-feedback" role="alert">
          remplir le mot de passe!
        </div>
        <div *ngIf='passvr.getError("minlength")' class="warning-feedback" role="alert">
          Le mot de pass doit avoir au moins 5 caractère!
        </div><br>
        <!-- <div *ngIf='passvr.getError("pattern")' class="warning-feedback" role="alert">
          Le mot de pass doit contenir: Majuscule, Minuscule, Chiffre, caractère special
        </div><br> -->
         

        <button 
        class="btn btn-secondary btn-lg" disabled
        *ngIf='emailvr.getError("required") || emailvr.getError("email") || passvr.getError("required") || passvr.getError("minlength")'
         type="submit">valider</button> 
         <button 
        class="boutval"
        *ngIf='!emailvr.getError("required") && !emailvr.getError("email") && !passvr.getError("required") && !passvr.getError("minlength")' 
         type="submit" target="_blank" >valider</button>

        <button class="boutinscr"><a routerLink="/inscription" routerLinkActive="active" target="_blank">s'inscrire</a></button><br>
        <p><u><a href="#"> Mot de pass oublié ?</a></u></p>
        
      </form>

    </div>
    <!-- (click)="login()"    [(ngModel)] = "authRequest.email" [ngModelOptions]="{standalone:true}"        [(ngModel)] = "authRequest.password" [ngModelOptions]="{standalone:true}"     --> 
  </section>
    
<app-footer></app-footer>