<app-header></app-header> 

  <section class="milieu">
    <div class="formulr">
      <h1>Connexion</h1>
      <form action="">
        <input type="email" placeholder="E-mail" class="input" required><br>
        <input type="password" placeholder="password"  class="input" required><br>
        <button  type="submit">valider</button> 
        <button class="boutinscr"><a routerLink="/inscription" routerLinkActive="active" target="_blank">s'inscrire</a></button><br>
        <p><u><a href="#"> Mot de pass oublié ?</a></u></p>
      </form>
    </div>
    
  </section>
    
<app-footer></app-footer>

