<app-header></app-header>

<section class="main">
 <div class=" banderole">
   <div class="band-text">
     <h1>La sexualité <br>on en parle?</h1><br>
     <p>rendons ce sujet tabou à la portée de tous</p>
   </div>
   <div class="band-img">
     <img src="../../assets/images/imgband-removebg-preview.png" alt="">
   </div>
 </div>

 <div class="pub-coment">
   <div class="pub-slides">
     <div class="slide-img">
<!--  -->
       <div class="slide">
         <div class="div-txt1">
           <h2>Conférences</h2><br>
           <p>Profitez de nouvelles connaissances que vous procurent les médecins à travers leurs différentes conférences.
           </p>
         </div>
         <div class="img1">
           <img src="../../assets/images/conference-removebg-preview.png" alt="">
         </div>
       </div>
<!--  -->
       <div class="slide">
         <div class="img2">
           <img src="../../assets/images/téléchargement-removebg-preview.png" alt="">
         </div>
         <div class="div-txt2">
           <h2>Rendez-vous</h2>
           <p>Vous pourriez avoir besoin de prendre un rendez-vous physique avec un spécialiste pour plus d’intimité
           </p>
         </div>
       </div>
       <div class="slide">
         <div class="div-txt2">
           <h2>Forum</h2><br>
           <p>Un forum de discussion est mis a votre disposition pour poser tous vos problèmes et ainsi profiter des expériences d’autres utilisateur sous la surveillance de nombreux médecins qualifiés.
           </p>
         </div>
         <div class="img2">
           <img src="../../assets/images/forum-removebg-preview.png">
         </div>
       </div>
<!--  -->
     </div>
   </div>
   <div class="coment">
     <h2>Nos services</h2><br>
     <p>La sexualite est souvent considére comme un sujet sensibles pour certain jeunes.Mais sachez que Ixtima est la
       solution pour tous ceux qui veulent en savoir plus sur ce sujet.Nous mettons à votre disposition de nombreux
       services qui pourrons vous aidez:</p>
     <ul>
       <li><samp>*</samp>&nbsp;&nbsp; Furom de dicussion</li>
       <li><samp>*</samp>&nbsp;&nbsp; Avis de nombreux spécialistes</li>
       <li><samp>*</samp>&nbsp;&nbsp; Conférences</li>
       <li><samp>*</samp>&nbsp;&nbsp; Guide de gestion de cycles menstruels</li>
       <li><samp>*</samp>&nbsp;&nbsp; Prise de rendez-vous avec un médecin spécialisé</li>
     </ul>
     <br>
     <p>Nous vous donnons à vous médecins spétialistes dans la sexualité, de venir en aide à de nombreux jeunes qui se
       perdent dans l'ignorances des dangers liés à une sexualité mal dirrigée.
     </p>
   </div>
   <!--  -->
 </div>
</section>
<div class="dropdown">
  <button aria-expanded="false" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" type="button">
    Dropdown button
  </button>
  <ul class="dropdown-menu dropdown-menu-dark">
    <li><a class="dropdown-item active" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
    <li>
      <hr class="dropdown-divider">
    </li>
    <li><a class="dropdown-item" href="#">Separated link</a></li>
  </ul>
</div>

<i class="bi bi-check-all"></i>
<app-footer></app-footer>


