<div class="sidebar">
  <div class="logo-details">
    <!-- <i class="bx bxl-c-plus-plus"></i> -->
    <span class="logo_name">
      <img src="/../../images/conference.jpg" alt="">
      <p>Ixtima</p>
    </span>
  </div>
  <ul class="nav-links">
    <li *ngIf='role == "JEUNE"'>
      <a routerLink="/dashboard/cycleComponent" routerLinkActive="active">
        <i class="bi bi-menu-button-wide"></i>
        <span class="links_name">Cycle</span>
      </a>
    </li>
    <li >
      <a routerLink="/dashboard/forum" routerLinkActive="active">
        <i class="bi bi-asterisk"></i>
        <span class="links_name">forum</span>
      </a>
    </li>
    <li *ngIf=' role == "JEUNE"'>
      <a routerLink="/dashboard/postjn" routerLinkActive="active">
        <i class="bi bi-asterisk"></i>
        <span class="links_name">Postjn</span>
      </a>
    </li>
    <li *ngIf=' role == "MEDECIN"'>
      <a routerLink="/dashboard/postmd" routerLinkActive="active">
        <i class="bi bi-asterisk"></i>
        <span class="links_name">postmd</span>
      </a>
    </li>
    <li *ngIf=' role == "ADMIN"'>
      <a routerLink="/dashboard/postad" routerLinkActive="active">
        <i class="bi bi-asterisk"></i>
        <span class="links_name">postad</span>
      </a>
    </li>
    <li *ngIf=' role == "JEUNE"'>
      <a routerLink="/dashboard/rdvjn" routerLinkActive="active">
        <i class="bi bi-asterisk"></i>
        <span class="links_name">rdvjeune</span>
      </a>
    </li>
    <li *ngIf=' role == "MEDECIN"'>
      <a routerLink="/dashboard/rdvmd" routerLinkActive="active">
        <i class="bi bi-asterisk"></i>
        <span class="links_name">rdvmedecin</span>
      </a>
    </li>
    
    <li  *ngIf=' role == "JEUNE"'>
      <a routerLink="/dashboard/gerecmpjn" routerLinkActive="active">
        <i class="bi bi-asterisk"></i>
        <span class="links_name">gerecmpjn</span>
      </a>
    </li>
    <li  *ngIf=' role == " ADMIN"'>
      <a routerLink="/dashboard/gerecmpmd" routerLinkActive="active">
        <i class="bi bi-asterisk"></i>
        <span class="links_name">gerecmpmd</span>
      </a>
    </li>
    <li *ngIf='role == "ADMIN"'>
      <a routerLink="/dashboard/gerecmpad" routerLinkActive="active">
        <i class="bi bi-asterisk"></i>
        <span class="links_name">gerecmpad</span>
      </a>
    </li>
    <li  *ngIf=' role == " ADMIN"'>
      <a routerLink="/dashboard/tracabilite" routerLinkActive="active">
        <i class="bi bi-asterisk"></i>
        <span class="links_name">tracabilite</span>
      </a>
    </li>
    <li  *ngIf=' role == "ADMIN"'>
      <a routerLink="/dashboard/theme" routerLinkActive="active">
        <i class="bi bi-asterisk"></i>
        <span class="links_name">theme</span>
      </a>
    </li>
    <li *ngIf=' role == "MEDECIN"'>
      <a routerLink="/dashboard/cmptmed" routerLinkActive="active">
        <i class="bi bi-asterisk"></i>
        <span class="links_name">cmptmedecin</span>
      </a>
    </li>
   
    <li  *ngIf=' role == "JEUNE"'>
      <a routerLink="/dashboard/conferjn" routerLinkActive="active">
        <i class="bi bi-asterisk"></i>
        <span class="links_name">conferjn</span>
      </a>
    </li> <li  *ngIf=' role == " MEDECIN "'>
      <a routerLink="/dashboard/confermd" routerLinkActive="active">
        <i class="bi bi-asterisk"></i>
        <span class="links_name">confermd</span>
      </a>
    </li>

    <li class="log_out"  *ngIf=' role == "MEDECIN" || "JEUNE"'>
      <a>
        <i class="bi bi-box-arrow-left"></i>
        <span class="links_name">Log out</span>
      </a>
    </li>
  </ul>

  <!-- \\\\\\\\\\\\\\\ -->
</div>
<section class="home-section">
  <nav>
    <div class="sidebar-button">
      <i class="bx bx-menu sidebarBtn"></i>
      <span class="dashboard">Dashboard</span>
    </div>
    <div class="search-box">
      <input placeholder="Search..." type="text"/>
      <i class="bi bi-search"></i>
    </div>
    <div class="profile-details">
      <img alt="" src="/../../images/téléchargement-removebg-preview.png"/>
      <!-- -----------------------------------NOM ICI------------------------ -->
      <span class="admin_name">{{nom}}</span>
      <i class="bx bx-chevron-down"></i>
    </div>
  </nav>

  <div class="home-content" >
    <div class="overview-boxes">
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Total Order</div>
          <div class="number">40,876</div>
          <div class="indicator">
            <i class="bx bx-up-arrow-alt"></i>
            <span class="text">Up from yesterday</span>
          </div>
        </div>
        <i class="bx bx-cart-alt cart"></i>
      </div>
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Total Sales</div>
          <div class="number">38,876</div>
          <div class="indicator">
            <i class="bx bx-up-arrow-alt"></i>
            <span class="text">Up from yesterday</span>
          </div>
        </div>
        <i class="bx bxs-cart-add cart two"></i>
      </div>
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Total Profit</div>
          <div class="number">$12,876</div>
          <div class="indicator">
            <i class="bx bx-up-arrow-alt"></i>
            <span class="text">Up from yesterday</span>
          </div>
        </div>
        <i class="bx bx-cart cart three"></i>
      </div>
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Total Return</div>
          <div class="number">11,086</div>
          <div class="indicator">
            <i class="bx bx-down-arrow-alt down"></i>
            <span class="text">Down From Today</span>
          </div>
        </div>
        <i class="bx bxs-cart-download cart four"></i>
      </div>
    </div>

    <div class="sales-boxes">
      <div class="recent-sales box">
        <router-outlet></router-outlet>
      </div>

    </div>
  </div>
</section>


