<section class="main">
    <div class="maincontent">
        <div class="maintitle">
            <h1>Gestion du compte</h1>
        </div>
        <div class="cycle">
           <span><h4>Parlons des menstruations</h4></span> 
            <p>
                <span>●</span>	Ce sont les changements hormonaux naturels qui surviennent chaque mois chez une femme en préparation à la grossesse, à partir de la puberté et jusqu'à la ménopause. <br>
                <span>●</span>	Le cycle menstruel commence dès le premier jour des règles et le saignement dure en moyenne de 3 à 7 jours.<br>
                <span>●</span>	La durée moyenne du cycle menstruel est de 28 jours, et cette période varie selon les femmes de 21 à 35 jours.<br>
                <span>●</span>	Le cycle menstruel se termine le premier jour des règles suivantes, en l'absence de grossesse.<br>
                <span>●</span>	En cas de retard des règles, il est recommandé de consulter un médecin ou une sage-femme.<br>
                <span>●</span>	L'utilisation de certains types de contraceptifs peut entrainer des modifications du cycle menstruel.<br>
                <span>●</span>	Certains effets secondaires peuvent accompagner les menstruations. Ce sont des effets naturels tels que les douleurs abdominales basses, l’irritabilité. En cas d’aggravation de l’état de santé il est conseillé de consulter un médecin.<br>

                Les menstruations sont un phénomène naturel et les filles/femmes peuvent nager, courir, exercer toutes les activités habituelles ainsi qu’avoir des rapports sexuels durant les règles.  
            </p>
            <code>Aide</code><br>
            <p>Pour plud d'information sur ce sujet vous pouvons vous conseiller certaines application spésialisé dans le calcul des cycles menstruel ou des liens specifiques sur des sites du meme genre:</p><br>
                    <ul class="ref">
                      <li>Flo</li>
                      <li>https://www.miumlab.com/blogs/conseils-sante/5-applications-efficaces-pour-suivre-son-cycle-menstruel</li>
                    </ul>

        </div>
    </div>
</section>
