<section class="main">
  <div class="maincontent">
    <div class="maintitle">
      <h1>Bienvennu dans le forum</h1>
    </div>
    <div class="chat">
      <div class="messages-chat">
        <ng-container *ngFor="let mess of message">
          <div class="message" [ngClass]="{'response': pseudo === mess.sender_id.pseudo}">
            <div class="message-details">
              <div class="photo">
                <i class="bi bi-person-fill"></i>
                <div class="online"></div>
              </div>
              <div class="message-content">
                <p class="text">{{ mess.message }}</p>
                <p class="time">{{ mess.send_date | date:'dd/MM/yyyy HH:mm:ss' }}</p>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="footer-chat">
      <div class="foot-center">
        <form (ngSubmit)="OnMessage()" class="message-form">
          <input type="text" class="write-message" placeholder="Message" [(ngModel)]="messg.libelle_messfor"
                 [ngModelOptions]="{standalone:true}" required minlength="1" #messvr="ngModel"
                 [ngClass]="{'is-invalid': messvr.touched && !messvr.valid}">
          <button type="submit" class="send-button" [disabled]="messvr.invalid">
            <i class="bi bi-send-fill"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
