<section class="main">
    <div class="maincontent">
        <div class="maintitle">
            <h1>Bienvennu dans le forum</h1>
        </div>
        <div class="chat">
            
            <div class="messages-chat">
                <div class="message">
                    <div class="photo"><i class="bi bi-person-fill"></i>
                    <div class="online"></div>
                    </div>
                    <div class=" text-only">
                        <p class="text"> Comment proceder dans ce cas?</p>
                    </div>
                </div>

                <div class="message">
                    <div class=" text-only">
                        <p class="text"> il n'ya pas d'autre moyen?</p>
                    <p class="time"> 14:58</p>
                    </div>
                </div>

                <div class="message">
                    <div class="response">
                        <div class="text-only">
                            <p class="text"> Hey je pense avoir une idée 😃</p>
                        </div>
                    </div>
                </div>

                <div class="message">
                    <div class="response">
                        <div class="text-only">
                            <p class="text"> je ne sai pas si ce sera bon pour toi mais...</p>
                        </div>
                    </div>
                </div>
                <div class="message">
                    <div class="response">
                        <div class="text-only">
                            <p class="text"> Et si...</p>
                        </div>
                    </div>
                </div>
                <div class="message">
                    <div class="response">
                        <div class="text-only">
                            <p class="text">{{messg.libelle_messfor}}</p>
                            <p class="response-time time"> 15:04</p>
                        </div>
                    </div>
                </div>

                <div class="message">
                    <div class="photo">
                        <i class="bi bi-person-fill"></i>
                    <div class="online"></div>
                    </div>
                    <div class="text-only">
                        <p class="text">Non ca va </p>
                    <p class="time"> 15:09</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="footer-chat">
           
            <div class="foot-center">
                <form (ngSubmit)= " OnMessage()">
                    <input type="text" class="write-message" placeholder="Message" [(ngModel)]= "messg.libelle_messfor" [ngModelOptions]="{standalone:true}" required minlength="1" #messvr="ngModel" [ngClass]="
                    {'is-invalid':messvr.touched && !messvr.valid}">
                    <!-- ----------------alerts----------- -->
                    
                    <button type="submit" class="btn btn-dark" disabled
                    *ngIf='messvr.getError("required") || messvr.getError("minlength")'><i class="bi bi-send-fill"></i>
                    </button>
                    <button type="submit" class="btn btn-dark"
                    *ngIf='!messvr.getError("required") && !messvr.getError("minlength")'><i class="bi bi-send-fill"></i>
                    </button>
                </form>
            </div>
            
        </div>
    </div>
</section>